@font-face {
    font-family: 'Afacad';
    src: url('../files/font/Afacad/Afacad-VariableFont_wght.ttf') format('truetype');
}

html{
    --background:#405967 !important;
    --yellow:#FFC145 !important;
    --green:#A0BB69 !important;
    --grey:#C5CDD1 !important;
    --text: #222222 !important;
    
    --Afacad: 'Afacad', Arial, sans-serif ;
    --rhythm: 24px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--Afacad);
    background-color: var(--background);
    margin: 0;
    margin-top: 50px;
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
}
.body{
    margin: 20px;
}

.center{
    display: flex;
    justify-content: center;
}

h1{
    color: var(--yellow);
    font-size: 7vw;
    letter-spacing: 9px;
    margin: 0 10px;
    line-height: 9vw;
    text-align: center;
    font-weight: 800;
}

h3{
    color: var(--grey);
    font-weight: 300;
    font-size: 30px;
    margin: 0 10px;
    line-height: 30px;
    text-align: center;
}
h4{
    color: #333;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 0.8rem;
    margin: 8px 0;
}

p, .ingredients ul li{
    color: #4B4B4B;
    font-size: 20px;
    margin: 8px 0;
}

.ingredients ul li {
    font-size: 18px !important;
}

footer{
    background-color: #31454F;
    width: 100%;
    padding: 0 20px;
    margin-top: auto;
}


.title{
    margin-bottom: 10px;
}

/*About Chef*/
.about{
    margin: 40px 0;
}

.about img{
    width: 30%;
    max-width: 300px;
    border-radius: 50vw 50vw 0 0;
    float: right;
    border: var(--green) 10px solid;
    margin-left: 40px;
}
.about h1 {
    color: var(--grey);
    letter-spacing: 6px;
}
.about p{
    margin-left: 40px;
    color: var(--grey);
}
.about h2{
    text-align: center;
    color: var(--yellow);
    font-size: 3vw;
    letter-spacing: 4px;
    text-decoration: none;
}

/* All Recipes Grid */
.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
    justify-items: center;
    align-items: stretch;
    max-width: 1100px;
    margin: 0 auto;
}

.recipe-card {
    background-color: var(--grey);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.recipe-card:hover {
    transform: scale(1.05);
}

.recipe-image {
    width: 100%;
    height: 200px;
    border-bottom: 4px solid #333;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.recipe-title {
    font-size: 2rem;
    color: #333;
    margin: 0;
    text-align: left;
}

.recipe-subtitle {
    font-size: 1.5rem;
    color: #4B4B4B;
    margin: 0;
    text-align: left;
}

.recipe-details{
    color: #333;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.recipe-details > div{
    margin-right: 20px;
}

.recipe-card .recipe-content{
    margin: 20px;
}

/*Recipe Details*/

.cook-time, .cuisine, .diet, .servings{
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 0;
}

.cuisine, .diet {
    align-items: flex-start
}

.diet div, .cuisine div{
    display: flex;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
}

.cuisine, .diet{
    margin: 10px 0;
}

/*Cook Time*/
.cook-time-img{
    width: 30px;
}

/*Cuisine*/
.Mexican, .Vegetarian{
    background-color: #7DB193;
    border: #146C39 solid 2px;
    color: #333;
}
.French{
    background-color: #EAB1B8;
    border: #D98D97 solid 2px;
    color: #333;
}
.American, .Pescatarian{
    background-color: #6E8DB4;
    border: #12397B solid 2px;
    color: #333;
}
.Italian, .Spicy{
    background-color: #F38C84;
    border: #D92316 solid 2px;
    color: #333;
}
.Seafood{
    background-color: #7DB0CD;
    border: #2F8ABE solid 2px;
    color: #333;
}
.Chinese, .Gluten{
    background-color: #E7D083;
    border: #DDAA00 solid 2px;
    color: #333;
}
.Asian-Fusion{
    background-color: #B389C3;
    border: #4F1F63 solid 2px;
    color: #333;
}
.Middle{
    background-color: #BFB5AB;
    border: #79553F solid 2px;
    color: #333;
}
.Southern-Style{
    background-color: #FFB761;
    border: #F48C11 solid 2px;
    color: #333;
}
.Mediterranean{
    background-color: #E28AA7;
    border: #C53463 solid 2px;
    color: #333;
}
.Seasonal, .Vegan{
    background-color: #C7CA89;
    border: #7A7A32 solid 2px;
    color: #333;
}
.Thai{
    background-color: #B9E895;
    border: #64A432 solid 2px;
    color: #333;
}
.Indian, .Halal{
    background-color: #D08352;
    border: #913900 solid 2px;
    color: #333;
}
.Korean{
    background-color: #FFEECB;
    border: #E9C06F solid 2px;
    color: #333;
}
.Japanese{
    background-color: #59B0A6;
    border: #17625A solid 2px;
    color: #333;
}
.None{
    background-color: #C5CDD1;
    border: #7E868A solid 2px;
    color: #333;
}



/*Diet*/
.diet-item, .cuisine-item{
    padding: 2px 12px;
    border-radius: 50vw;
    text-decoration: none;
    font-weight: 600;
}



/*Servings*/
.serving-img{
    width: 20px;
}


/*Single Recipe Page*/

.container, aside, .recipe-steps{
    margin: 10px 0;
    background-color: var(--grey);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.header-container{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.description{
    max-width: 415px;
}

.recipe-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-image {
    width: 60%;
    height: 500px;
    border-radius: 10px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.recipe-description {
    margin-bottom: 30px;
}

.recipe-description p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}

main.recipe-content {
    display: flex;
}

/* Ingredients Sidebar */
aside.ingredients {
    width: 25%;
}

.ingredients-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.ingredients ul {
    list-style-type: none;
    padding-left: 0;
}

.ingredients div {
    position: sticky;
    top: 70px; 
    align-self: flex-start; /* Ensures it sticks relative to the main content */
    height: max-content; /* Allows sticky positioning to work with the sidebar's height */
}

.ingredients ul li {
    margin: 5px 0;
}

/* Recipe Steps */
section.recipe-steps {
    width: 75%;
    margin-left: 20px;
}

.recipe-steps img {
    max-width: 100%;
    margin-bottom: -10px;
    margin-top: 20px;
    border-radius: 8px;
}
.step-title{
    display: flex;
    align-items: center;
}
.step-title h4{
    color: var(--background);
    font-size: 2rem;
    line-height: 2rem;
}
.step-num{
    color: #31454F;
    font-size: 50px;
    line-height: 80px;
}
.recipe-steps ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.recipe-steps p{
    margin-left: 60px;
}

.recipe-info {
    padding-top: 20px;
    margin-left: 20px;
    padding: 0;
}
/*ERROR MESSAGE*/
.error {
    display: block;
    margin: 5px;
    color: var(--grey);
    font-size: 30px;

}



/* Search bar container */
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    gap: 10px;
}
/* Search input styling */
.search-input, option{
    padding: 10px;
    font-size: 16px;
    border-radius: 50vw;
    flex: 1;
    min-width: 100px; /* Ensures it doesn't shrink too much */
    color: #333;
}
.search{
    border: 2px solid #ccc;
    width: 46vw;
}
form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Search button styling */
.button {
    padding: 10px 20px;
    
    background-color: var(--yellow);
    color: var(--background);
    border: none;
    border-radius: 50vw;
    cursor: pointer;
    font-weight: 600;
    transition: transform 0.3s ease;
}

.button:hover {
    transform: scale(1.05);
}
.button:active {
    transform: scale(.95);
}

.home-button{
    font-size: 30px;
}

#help-map{
    background-image: url(../files/general-images/map_help_screenshot.png);
    height: 300px;
}
#card-help{
    height: 300px;
    border-radius: 10px;
}
.help-section{
    justify-content: end;
}
.help-section p{
    max-width: none;
}

.style-tile{
    width: 100%;
}


@media(max-width: 850px){
    .search-container {
        flex-direction: column;
    }
    .search {
        width: 75vw;
    }
}

/*SMALL SCREENS*/
@media (max-width: 768px) {
    h1 {
        font-size: 14vw;
        line-height: 14vw;
    }
    .about{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about img{
        width: 90%;
        float:none;
        margin: 20px 0;
        order: 3;
    }

    .about p {
        margin: 0 20px;
        order: 4;
    }
    .about h1{
        order: 1;
    }

    .about h2 {
        text-align: center;
        color: var(--yellow);
        font-size: 30px;
        letter-spacing: 4px;
        margin: 5px 0;
        order: 2;
        text-decoration: none;
    }
    
    main.recipe-content {
        flex-direction: column;
    }

    aside.ingredients {
        width: 100%;
        margin-bottom: 20px;
        border-right: none;
        position: static; /* Sticky disabled on small screens */
    }

    section.recipe-steps {
        width: 100%;
        margin-left: 0;
    }

    .recipe-header {
        flex-direction: column;
        text-align: left;
    }

    .header-image {
        width: 100%;
        height: 350px;
    }
    #card-help{
        width: 100%;
        height: auto;
    }


}

@media(max-width: 500px){
    .search {
        width: 65vw;
    }
}