@font-face {
    font-family: 'Afacad';
    src: url('../files/font/Afacad/Afacad-VariableFont_wght.ttf') format('truetype');
}

html{
    --background:#405967 !important;
    --yellow:#FFC145 !important;
    --green:#A0BB69 !important;
    --grey:#C5CDD1 !important;
    --text: #222222 !important;
    
    --Afacad: 'Afacad', Arial, sans-serif ;
    --rhythm: 24px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: var(--Afacad);
    background-color: var(--background);
}

h1{
    color: var(--yellow);
    font-weight: 800;
    font-size: 7vw;
    letter-spacing: 14px;
    margin: 0 10px;
    line-height: 9vw;
    text-align: center;
}

h3{
    color: var(--grey);
    font-weight: 300;
    font-size: 30px;
    margin: 0 10px;
    line-height: 30px;
    text-align: center;
}
h4{
    color: #333;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1rem;
    margin: 8px 0;
}

p, .ingredients ul li{
    color: #4B4B4B;
    font-size: 20px;
    margin: 8px 0;
}

body{
    margin: 20px;
    margin-top: 80px;
}

